<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://www.kindpng.com/picc/m/19-191388_video-games-icon-hd-png-download.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VGRS</title>
    <script type="module" crossorigin src="../../../static/mainapp/vue/assets/index-24ef5f5c.js"></script>
    <link rel="stylesheet" href="../../../static/mainapp/vue/assets/index-b62e5324.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
