{% load static %}
<!DOCTYPE html>
<head>
    <link rel="shortcut icon" type="image/png" href="https://www.kindpng.com/picc/m/19-191388_video-games-icon-hd-png-download.png"/>
</head>
<body>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <div  class="bg-image shadow-2-strong" style="background-image: url('https://wallpaperaccess.com/full/906751.jpg'); height: 100vh">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.65); height: 100vh">
        <nav class="navbar navbar-expand-lg">
            <a class="nav-link" to="./"><h1 class="display-6 p-2 text-light">VGRS</h1></a>
            <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="./login" class="nav-link text-light lead">Login</a>
                </li>
                <li class="nav-item">
                    <a href="./sign-up" class="nav-link text-light lead">Sign Up</a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="p-5 text-left text-primary container d-flex align-items-center justify-content-center text-center h-75 ">
            <div class="jumbotron">
                <h1 class="display-4 text-light">Video Games Recommendation System</h1>
                <hr class="my-4 text-light">
                <p class="lead text-light">Welcome to the video games recommendation system. Please login or sign up to continue.</p>
            </div>
        </div>
        </div>
    </div>
</body>